# SMTP Server Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_app_password

# Email Routing Config
EMAIL_SENDER="CodzHub Contact Form" <your_email@gmail.com>
EMAIL_RECEIVER=receiver_email@example.com
